{% extends 'base.html' %}

{% block content %}
    <br><h4>Connected to: {{ runningServer }}</h4>
    <a href="/stop">
    <button type="submit" name="serverAddr" class="btn btn-primary">Stop</button>
</a> <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Server</th>
            <th scope="col">Actions</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        {% for server in servers %}
            <tr>
                <td><b>{{ server[1] }}</b> <br> {{ server[4] }}</td>
                <td>
                    <form action="/run" method="post"><input id="my_input" type="hidden" name="serverAddr"
                                                             value="{{ server[1] }}">
                        <button type="submit" name="serverAddr" class="btn btn-primary">Start</button>
                    </form>
                </td>
                <td>
                    {% if server[2] == true %}
                        <div><i class="bi bi-heart-fill"> Server is up</i></div>
                        <div>{{ server[3] }} online - {{ server[5] }}ms</div>
                    {% else %}
                        <div><i class="bi bi-heart-half"> Server is down</i></div>
                    {% endif %}</td>
            </tr>
        {% endfor %}
{% endblock %}