{% extends 'base.html' %}

{% block content %}
    <br><h4>Connected to: {{ runningServer }}</h4>
    <a href="/stop">
    <button type="submit" name="serverAddr" class="btn btn-primary">Stop</button>
</a> <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Server</th>
            <th scope="col">Status</th>

        </tr>
        </thead>
        <tbody>
        {% for server in servers %}
            <tr>
                <td>
                    {% if server[2] == true %}
                    <div><i class="bi bi-heart-fill"><b> {{ server[1] }}</b></i><br>
					{{ server[4] }}
                    <form action="/run" method="post"><input id="my_input" type="hidden" name="serverAddr"
                                                             value="{{ server[1] }}">
                        <button type="submit" name="serverAddr" class="btn btn-primary">Start</button>
                    </form></div>
                    {% else %}
                        <div><i class="bi bi-heart-half"><b> {{ server[1] }}</b></i></div>
                    {% endif %}
					
				
				</td>
                <td>
                    {% if server[2] == true %}
                        <div><i>Server is up</i></div>
                        <div><b>{{ server[3] }}</b> online <b>{{ server[5] }}</b>_ms</div>
                    {% else %}
                        <div><i>Server is down</i></div>
                    {% endif %}</td>
            </tr>
        {% endfor %}
{% endblock %}