{% extends 'base.html' %}

{% block content %}
    <br><h4>Connected to: {{ runningServer }}</h4>
    <a href="/stop">
    <button type="submit" name="serverAddr" class="btn btn-primary">Stop</button>
</a> <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Server</th>
            <th scope="col">Status</th>

        </tr>
        </thead>
        <tbody>
        {% for server in servers %}
            <tr>
                <td>
                    {% if server[2] == true %}
                    <div><b>{{ server[1] }}</b><br>
					{{ server[4] }}
                    <form action="/run" method="post"><input id="my_input" type="hidden" name="serverAddr"
                                                             value="{{ server[1] }}">
                        <button type="submit" name="serverAddr" class="btn btn-primary">Start</button>
                    </form></div>
                    {% else %}
                        <div><b>{{ server[1] }}</b></div>
                    {% endif %}
					
				
				</td>
                <td>
                    {% if server[2] == true %}
                        <div><b>{{ server[3] }}</b> online <b><br>{{ server[5] }}</b> ms</div>
                    {% else %}
                        <div><i>Server is down</i></div>
                    {% endif %}</td>
            </tr>
        {% endfor %}
{% endblock %}